body {
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    font-weight: 700;
    color: white;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --section-space:15px;
}

.section {
    background-color: #C4C4C4;
    padding: 50px;
}

.container {
    max-width: calc(1100px + var(--section-space)*2 );
    padding: 0 var(--space-section);
    margin: 0 auto;
    width: 100%;
}


.empty-block {
    background-color: white;
    padding: 113px;
}


.block {
    background-color: #FC8F8F;
    padding: 90.34px 95.34px;

}

.section-block {
    overflow: hidden;

}

/* block  */

.block:nth-child(1) {
    float: left;
}

.block:nth-child(2) {
    float: right;
}

/* block 1 */

.section-block-1 {
    padding-top: 50px;
    padding-bottom: 50px;
}

.block-1 {
    padding: 41px 46px;
    margin-left: 15px;
}


.block-1:nth-child(2), .block-1:nth-child(3), .block-1:nth-child(4), .block-1:nth-child(5) {
    float: right;
}

/* block 2 */


.block-2:nth-child(1), .block-2:nth-child(2) {
    float: left;
    margin-right: 15px;
}

.block-2:nth-child(3), .block-2:nth-child(4) {
    float: right;
    margin-left: 15px;
}

